body{
    background-color:
    darkgoldenrod
}
hgroup{
    color: aquamarine;
}
nav{
height: 6000px;
width: 200px;
float: left;
padding: 5px;
line-height: 30px;
}
p{
    color: crimson;
    text-align: center;
    margin-right: 200px;
}
hgroup{
    text-align: center;
    margin-right: 200px;
}
#memeimage{
margin-right: 200px;
}
hgroup{
    text-align: center;
}
